body {
    background-color: #14131A;
    color: white;
    font-family: "Roboto", sans-serif; /*рубленные шрифты (шрифты без засечек или гротески)*/
}

.img {
    max-width: 100%;
}

.container {
    /* max-width: 1140px; /*максимальная ширина шапки*/
    width: 90%;
    margin: auto; /*шапка по центру*/
}

.header {
    padding-top: 40px; /*отступ сверху*/
    display: flex; /*картинка и пункты меню на оном уровне*/
    align-items: center; /* относительно картики пункты меню посеридине*/
    margin-bottom: 80px; /*текст начиная с даты отступает от хедера на 80*/
}

.logo-link{
    display: inline-block;
}

.naw-menu {
    margin: 0;
    padding: 50px; /*отступ от картинки до меню*/
    list-style: none; /* устанавливает все свойства списка в одном объявлении */
    display: flex;
}

.naw-menu-item {
    margin-right: 30px; /* отступы между текстами */
}

.naw-menu-link {
    text-decoration: none; /* убираем подчеркивание ссылок */
    color: rgba(255, 255, 255, 0.5);
}

.film-date{
    display: block; /*чтобы с датой не на одной строке были*/
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5%; /*расстояние между датой и Веном*/
    color: rgba(255, 255, 255, 0.8);
}

.film-disp{
    margin-top: 3%; /*расстояние между тестом про Тома и Веном*/
    max-width: 423px;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
}

.venom2{
    width: 70%;
}

.button{
    padding: 15px 30px; /*сверху и снизу по 15, по бокам 30*/
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.button-icon,
.button-text {
    display: inline-block;
    vertical-align: middle; /*блоки относительно друг друга по вертикали выравниваются*/
}

.button-text{
    font-size: 14px;
    line-height: 16px;
    margin-left: 10px;
}

.button-primary{
    color: #8D0019;
    background-color: white;
}

.button-link{
    color: #fff;
}

.button-group{
    margin-top: 5%;
}

.venom-img {
    position: absolute; /*картинка не будет учитываться остальными элементами, тк элементы не будут обращать на нее внимание и может (картинка) наезжать на элементы*/
    top: 0;
    right: 0;
    max-width: 728px;
    width: 40%;
}

.blood {
    background:  url("../img/blood.png") no-repeat top right / 70%, #14131A url("../img/background.jpg");
}

.primary-pg {
    background:  #14131A url("../img/background.jpg");
}

.content {
    display: flex; /*поделить страницу на 2 части*/
}

.col {
    flex-basis: 50%; /*каждая из колонок по половине*/
}

.content-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}

.content-suptitle {
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 15px;
    margin-top: 0px;
}

.content-text {
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
    max-width: 423px;
    margin-bottom: 30px;
}

.content .list {
    list-style: none;
    padding: 0;
}

.list-item {
    line-height: 1.5;
}

.column-2 { /*делит список на 2*/
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    max-width: 350px;
}

.content .trailer {
    width: 356px;
    height: 205px;
    background: url("../img/trailer.jpg") no-repeat center / contain;
    border-radius: 5px;
    display: flex; /*след 3 для кнопки плей посеридине*/
    align-items: center;
    justify-content: center;
    margin-top: 33px;
}

.trailer .play {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    cursor: none;
}

.trailer .play-icon {
    transform: translate(1px, 2px); /*плей ровно*/
}

.poster-rap {
    display: flex;
    align-items: start;
}

.poster {
    width: 362px;
    border-radius: 5px;
    margin-right: 30px;
}

.poster-rap .content-suptitle {
    margin-bottom: 5px;
}

.poster-rap .list {
    margin: 0;
    margin-bottom: 20px;
}

.menu-button{
    display: none;
}

.menu-close {
    display: none;
}
@media(max-width: 1024px) {
    .content {
        flex-direction: column; /*кононка с постером вниз*/
        padding-bottom: 5%;
    }
    .col {
        margin-bottom:  2%;
    }
    .header {
        margin-bottom:  4%;
    }
    .film {
        margin-top: 10%;
    }
}
@media(max-width: 768px) {
    .blood {
        background: #14131A;
    }
    .venom-img {
        top: 15%; /*веном сползает*/
    }
}

@media(max-width: 576px) { /*меню*/
    .naw-menu{
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9;
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /*меню по очереди*/
        transform: translateX(100%);
        transition: transform 0.2s;
}
    .naw-menu-item {
        margin-bottom: 2%;
        margin-top: 2%;
        margin-right: 0;
    }
    .naw-menu-link {
        color: #14131A;
    }
    .menu-close {
        position: fixed;
        opacity: 0;
        right: 25px;
        top: 65px;
        display: flex;
        align-items: center;
        z-index: 10;
        border: none;
        background-color: white;
        cursor: pointer;
        transform: translateX(300%);
        transition: transform 0.2s;
        transition-delay: 0.2s;
    }
    .is-active{
        transform: translateX(0%);
        opacity: 1;
    }
    .menu-close-text {
        margin-right: 10px;
    }
    .naw{
        margin-left: auto;
    }
    .menu-button{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: none;
        background-color: #14131A;
        cursor: pointer;
        color: white;
    }
    .menu-button-text{
        margin-right: 10px;
    }
    .button-group{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .film-text {
        text-align: center;
    }

    .poster-rap {
        flex-direction: column;
    }
    .poster {
        margin-bottom: 4%;
    }
    .content .trailer {
        max-width: 350px;
        width: 100%;
    }
    .poster {
        margin-right: 0px;
        max-width: 350px;
        width: 100%;
    }
    .column-2 {
        column-count: 1;
    }
}